<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.periodbuddy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeriodBuddy">
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".FAQ"
            android:exported="false" />
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".DoSomethingMore"
            android:exported="false" />
        <activity
            android:name=".BeTheSupport"
            android:exported="false" />
        <activity
            android:name=".MainLandingPage"
            android:exported="false" />
        <activity
            android:name=".LandingPage"
            android:exported="false" />
        <activity
            android:name=".Extra"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>