@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.footer_container {
  width: 70%;
  margin: 25px auto;
  background-color: #ffc0cb;
  padding: 2px;
  border-radius: 20px;
}
.footer_explain {
}
.footer_by {
}
